h4.logo(style="font-size: 15pt;") Hitta vårdboende!
p &mdash; Jämför vårdbolagen i din kommun
p
  a(href="#", data-toggle="modal", data-target="#aboutModal") Om tjänsten
  | &nbsp;
  a(href="#", data-toggle="modal", data-target="#termsModal") Villkor
