extends layout

block content

  div.row
    div.sidebar(ng-controller='sidebarCtrl')
      div.sidebarmain
        include sidebar
      div.footer
        include footer
    div.map(ng-controller='mapsCtrl')
      include map

