extends layout

block content

  div.row(ng-controller='mapsCtrl')
    div.sidebar
      div.sidebarmain
        include sidebar
      div.footer
        include footer
    div.map
      include map

