extends layout

block content
	div.start(ng-hide="start==false" ng-click="startCheck()")
		div.starttext
			h1.logo Hitta vårdboende!
			h3(style="font-size: 30pt;") Jämför vårdbolagen i din kommun
			//button(ng-click="startCheck()") Sök!
			div.closebutton

	//- div.layer(ng-hide="start==false")
	//- 	p tja

	div.row(ng-class="{justloaded: start}")
		div.sidebar
			div.sidebarmain
				include sidebar
			div.footer
				include footer
		div.map
			include map

