extends layout

block content
	div.start(ng-hide="start==false" ng-click="startCheck()")
		div.starttext
			div.closebutton
				i(class="fa fa-times")
			h1.logo Hitta vårdboende!
			h3 Jämför vårdbolagen i din kommun
			
	//- div.layer(ng-hide="start==false")
	//- 	p tja

	div.row(ng-class="{justloaded: start}")
		div.sidebar
			div.sidebarmain
				include sidebar
			div.footer
				include footer
		div.map
			include map

