extends layout

block content
	div.start(ng-hide="start==false")
		h1 Hej!
		button(ng-click="startCheck()") hallådär

	//- div.layer(ng-hide="start==false")
	//- 	p tja

	div.row(ng-class="{justloaded: start}")
		div.sidebar
			div.sidebarmain
				include sidebar
			div.footer
				include footer
		div.map
			include map

