doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='csrf-token', content=_csrf)
    meta(name='author', content='')
    title #{title} | Hackathon Starter
    != css('styles')
  body(ng-app='wookieApp')
    .container-fluid(id='wrapper')
      include partials/flash
      block content

    include partials/footer

    script(src='//maps.googleapis.com/maps/api/js?key=AIzaSyAOkdWgREbhyd9SlRt52yl2a1w5ciBI6tY')
    script(src='bower_components/angular/angular.min.js')
    script(src='bower_components/lodash/dist/lodash.underscore.min.js')
    script(src='bower_components/angular-google-maps/dist/angular-google-maps.min.js')
    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')
    != js('application')
