//- place map stuff here
div(ng-controller='mapsCtrl', id="mapbox")
  google-map(center="map.center", zoom="map.zoom", options="map.options", draggable="true")

  {{ map.zoom }}
  {{ map.center.longitude }}
  {{ map.center.latitude }}
