//- place map stuff here
section(ng-controller='mapsCtrl')
  google-map(center="map.center", zoom="map.zoom", options="map.options", draggable="true")

  {{ map.zoom }}
  {{ map.center.longitude }}
  {{ map.center.latitude }}
