//- place sidebar stuff here
div.city
  {{currentCity.name}}
  //- select(ng-model='selectedCity', ng-change='changeCity()', ng-options='city as city.name for city in cities')
  span.pull-right(title='Ändra stad')
    i.fa.fa-cog.fa-lg

.questions
  h1 KVALITETSOMRÅDE
  h2 Markera några områden som är viktiga

  p Helhetsomdråde
  p Tillgänglighet
  p Bemötande
  p Delaktivhet
  p Information
  p Mat och fritid

h2 Vårdbolag som passar dig

p 1. Linköpings kommun
p 2. Attendo Care
p 3. Carema äldreomsorg
p 4. Bräcke Diakoni
p 5. KOSMO
p 6. Aleris äldreomsorg
p 7. Berzelii vård och omsorg
