//- place sidebar stuff here
div.city
  {{currentCity.name}}
  //- select(ng-model='selectedCity', ng-change='changeCity()', ng-options='city as city.name for city in cities')
  span.pull-right(title='Ändra stad')
    i.fa.fa-cog.fa-lg



.questions

  h4 Hitta ditt vårdboende!
  p.instructions(ng-hide='hideInstructions()')
    i.fa.fa-info-circle
    | Markera de områden som är viktiga för dig!

  p.pull-right Helhetsomdråde
   div.onoffswitch
    input(type='checkbox', name="onoffswitch").onoffswitch-checkbox#myonoffswitch1 
    label(for="myonoffswitch1").onoffswitch-label
     span.onoffswitch-inner
     span.onoffswitch-switch
  p.pull-right Tillgänglighet
   div.onoffswitch
    input(type='checkbox', name="onoffswitch").onoffswitch-checkbox#myonoffswitch2 
    label(for="myonoffswitch2").onoffswitch-label
     span.onoffswitch-inner
     span.onoffswitch-switch
  p.pull-right Bemötande
   div.onoffswitch
    input(type='checkbox', name="onoffswitch").onoffswitch-checkbox#myonoffswitch3 
    label(for="myonoffswitch3").onoffswitch-label
     span.onoffswitch-inner
     span.onoffswitch-switch
  p.pull-right Delaktivhet
   div.onoffswitch
    input(type='checkbox', name="onoffswitch").onoffswitch-checkbox#myonoffswitch4 
    label(for="myonoffswitch4").onoffswitch-label
     span.onoffswitch-inner
     span.onoffswitch-switch
  p.pull-right Information
   div.onoffswitch
    input(type='checkbox', name="onoffswitch").onoffswitch-checkbox#myonoffswitch5 
    label(for="myonoffswitch5").onoffswitch-label
     span.onoffswitch-inner
     span.onoffswitch-switch
  p.pull-right Mat och fritid
   div.onoffswitch
    input(type='checkbox', name="onoffswitch").onoffswitch-checkbox#myonoffswitch6 
    label(for="myonoffswitch6").onoffswitch-label
     span.onoffswitch-inner
     span.onoffswitch-switch



.result
  h4 Vårdbolag som passar dig

  p 1. Linköpings kommun
  p 2. Attendo Care
  p 3. Carema äldreomsorg
  p 4. Bräcke Diakoni
  p 5. KOSMO
  p 6. Aleris äldreomsorg
  p 7. Berzelii vård och omsorg
