//- place sidebar stuff here
.city.content
  {{currentCity.name}}
  //- select(ng-model='selectedCity', ng-change='changeCity()', ng-options='city as city.name for city in cities')
  span.pull-right(title='Ändra stad')
    i.fa.fa-cog.fa-lg



.questions.content

  h4 Hitta ditt vårdboende!
  p.instructions(ng-hide='hideInstructions()')
    i.fa.fa-info-circle
    | Markera de områden som är viktiga för dig!

  p.pull-right Tillgänglighet
   div.onoffswitch1
    input(type='checkbox', name="tillganglighetsswitch").onoffswitch1-checkbox#tillganglighetsswitch 
    label(for="tillganglighetsswitch").onoffswitch1-label
     span.onoffswitch1-inner
     span.onoffswitch1-switch
  p.pull-right Bemötande
   div.onoffswitch2
    input(type='checkbox', name="bemotandeswitch").onoffswitch2-checkbox#bemotandeswitch 
    label(for="bemotandeswitch").onoffswitch2-label
     span.onoffswitch2-inner
     span.onoffswitch2-switch
  p.pull-right Delaktighet
   div.onoffswitch3
    input(type='checkbox', name="delaktighetswitch").onoffswitch3-checkbox#delaktighetswitch 
    label(for="delaktighetswitch").onoffswitch3-label
     span.onoffswitch3-inner
     span.onoffswitch3-switch
  p.pull-right Information
   div.onoffswitch4
    input(type='checkbox', name="informationsswitch").onoffswitch4-checkbox#informationsswitch 
    label(for="informationsswitch").onoffswitch4-label
     span.onoffswitch4-inner
     span.onoffswitch4-switch
  p.pull-right Mat och fritid
   div.onoffswitch5
    input(type='checkbox', name="matswitch").onoffswitch5-checkbox#matswitch 
    label(for="matswitch").onoffswitch5-label
     span.onoffswitch5-inner
     span.onoffswitch5-switch

.result.content
  h4 Vårdbolag som passar dig

  p 1. Linköpings kommun
  p 2. Attendo Care
  p 3. Carema äldreomsorg
  p 4. Bräcke Diakoni
  p 5. KOSMO
  p 6. Aleris äldreomsorg
  p 7. Berzelii vård och omsorg

