@import "../../bower_components/bootstrap/less/bootstrap";
@import "lib/font-awesome/font-awesome";
@import "lib/ionicons/ionicons";
@import "bootstrap-custom";
@import "lib/bootstrap-social";

@basecolor: #F0F0F0;
@sidebarWidth: 250px;
@sidebarPadding: 10px;
@sidebarTextColor: #707070;

html, body, #wrapper {
  height: 100%;
}

#wrapper {
  &>.row, #mapbox {
    height: 100%;
  }
}

.map {
  width: calc(~"100% - " (@sidebarWidth) ~"");
  float: left;
  height: 100%;
  padding: 0;
}

.sidebar {
  width: @sidebarWidth;
  float: left;
  background-color: @basecolor;
  height: 100%;
  color: @sidebarTextColor;

  div {
    padding: @sidebarPadding;
  }
  .city {
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 1px solid #CECECE;
  }

  .instructions {
    .bg-success;
    padding: @sidebarPadding/2;
    border: 1px solid lighten(@brand-success, 30%);
  }
}

.angular-google-map, .angular-google-map-container {
  height: 100%;
}
