@import "../../bower_components/bootstrap/less/bootstrap";
@import "lib/font-awesome/font-awesome";
@import "lib/ionicons/ionicons";
@import "lib/bootstrap-social";

@basecolor: #e85113;
@sidebarWidth: 250px;

html, body, #wrapper {
  height: 100%;
}
#wrapper {
  &>.row, #mapbox {
    height: 100%;
  }
}

.map {
  width: calc(~"100% - " (@sidebarWidth) ~"");
  float: left;
  height: 100%;
  padding: 0;
}

.sidebar {
  width: @sidebarWidth;
  float: left;
  background-color: @basecolor;
  height: 100%;
}

.angular-google-map, .angular-google-map-container {
  height: 100%;
}
